
.flex-container-row > div {
  margin: 50px 20px;
}

#pic{
	width: 260px;
	height: 380px;
	background-image: url(img/about-img-02.png);
	background-size: cover;
	background-position: center center;
/*	border-radius: 20px;*/
}

#text{
	width: 460px;
}

#tookit{
	width: 230px;
}

@media screen and (max-width: 670px) {
  	.flex-container{
    	flex-direction: column;
    	text-align: left;

  }
}

hr{
	width: 1000px;
	align-self: center;
	border-style: none;
	border-top: 1px solid #65c8d0;
}

.contact{
	text-align: left;
	padding-left: 190px;
	padding-top: 20px;
	padding-bottom: 30px;
}

#contact-title{
	color: #65c8d0;
}

