.page-header{
  color: #ba9bc9;
}

h2{
  color: #ba9bc9;

}



.about {
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.highlights {
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.about_img {
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 40px;
}

.infographic {
  padding-top: 40px;
  text-align: center;
  border-image: grey;
}

.img {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}

.tile-container,
.tile-container > .tile {
  padding: 10px;
}

.tile {
  position: relative;
  display: inline-block;
  text-align: left;
}

.tile-container{
  position: relative;
  text-align: center; 
}

/* Content */
.content {
  background-color: grey;
  padding: 2px;
  text-align: center;
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #838bc5; 
}

.back{
  text-align: center;
}




