
/* Add padding BETWEEN each column (if you want) */

/*this means tiles inside tile container*/
.tile-container,
.tile-container > .tile { 
  padding: 20px;
}

.tile {
  position: relative;
  display: inline-block;
  text-align: center;
}

.tile-container{
  position: relative;
  text-align: center; 
  min-height: 500px;
}

/* Content */
h3{
  margin-top: 10px;
}

.web{
  width: 320px;
  height: 300px;
  background-image: url(img/lakepharma-icon-01.png);
  background-size: cover;
  background-position: center center;
  display: inline-block;   
}

.motion{
  width: 320px;
  height: 300px;
  background-image: url(img/lakepharma-icon-02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

.graphic{
  width: 320px;
  height: 300px;
  background-image: url(img/lakepharma-icon-03.png);
  background-size: cover;
  background-position: center center;
  display: inline-block;
}




