
.page-header{
  color: #838bc5;
}

.highlights{
  padding-top: 20px;
}

.about {
  padding-bottom: 20px;

}

.video {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}


#logoAnim {
	border: 1px solid black;
}

a.button{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background-color: #ba9bc9; 
}

.back{
  padding-top: 50px;
  text-align: center;
}







