li a.active {
  	color: #e3528c;
}

.animation{
	margin-bottom: 36px;
	padding: 0 10px;
}

.row-title {
	margin-top: 30px;
	margin-bottom: 20px;
}

.video{
	margin-bottom: 20px;
	padding: 0 10px;
}

.text{
    margin-top: 80px;
}


@media only screen and (max-width: 1000px) {
    .row-flex{
      flex-direction: column;
    }
    .animation{
	  padding: 0;
	}
    .content-right{
      padding-left: 0px;
    }
    .period-graphics{
    	padding-bottom: 15px;
    }
    .three-up{
    	margin-top: 0px;
    	margin-bottom: 0px;
    }
}











