
/* Add padding BETWEEN each column (if you want) */

/*this means tiles inside tile container*/
.tile-container,
.tile-container > .tile { 
  padding: 20px;
}

.tile {
  position: relative;
  display: inline-block;
  text-align: center;
}

.tile-container{
  position: relative;
  text-align: center; 
}

/* Content */
h3{
  position: absolute;
  bottom: 35px;
  left: 40px;
}

.lakepharma{
  width: 310px;
  height: 420px;
  background-image: url(img/portfolio-01.png);
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}

.phisig{
  width: 310px;
  height: 420px;
  background-image: url(img/portfolio-03.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.personal{
  width: 310px;
  height: 420px;
  background-image: url(img/portfolio-02.png);
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}






